<div class="jumbotron">
    <h1>ProximaFase</h1>
    <p class="lead">Troque seu jogo com outros jogadores e economize seu dinheiro!</p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Cadastre-se</h2>
        <p>De forma simples e rapida, confirme seus dados e cadastre-se para ter acesso a todas as funcionalidades.</p>
       
    </div>
    <div class="col-md-4">
        <h2>Adicione seus jogos usados</h2>
        <p>Use o catalogo a seu favor: adicione todos os jogos usados que tiver.</p>
        
    </div>
    <div class="col-md-4">
        <h2>Troque e aproveite!</h2>
        <p>Troque os seus jogos pelo de outros usuarios e aproveite!</p>
    </div>
</div>
